<div id="messages">
  <% @messages.each do |message| %>
    <p><%= message['content'] %></p>
  <% end %>
</div>

<form id="new-message-form">
<input type="text" id="message-input" placeholder="Type a message...">
<button type="submit">Send</button>
</form>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
